@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark-cyan: hsl(180, 29%, 50%);
  --background: hsl(180, 52%, 96%);
  --filter-tablet: hsl(180, 31%, 95%);
  --gray-text: hsl(180, 8%, 52%);
  --text-color: hsl(180, 14%, 20%);
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

.App {
  min-height: 100vh;
  background-color: var(--background);
  padding: 0px 0;
}

.App-header {
  height: 153px;
  background-image: url("./background-image/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--dark-cyan);
  position: relative;
}

.JobsList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0px 160px;
  margin-top: 80px;
}

.JobCard {
  display: flex;
  padding: 25px 32px;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.job__info {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: center;
}

.job__info--header {
  display: flex;
  margin-bottom: 10px;
}

.job__info__company__name {
  margin-right: 15px;
  font-size: 15px;
  font-weight: 700;
  color: var(--dark-cyan);
  cursor: pointer;
}

.job__info--new {
  font-size: 14px;
  background-color: var(--dark-cyan);
  color: white;
  padding: 3px 5px;
  margin-right: 10px;
  padding-bottom: 0px;
  border-radius: 10px;
}

.job__info--featured {
  font-size: 14px;
  background-color: var(--text-color);
  color: white;
  padding: 3px 5px;
  border-radius: 10px;
  padding-bottom: 0px;
}

.job__info--title {
  font-size: 20px;
  color: var(--text-color);
  margin-bottom: 10px;
  cursor: pointer;
}

.job__info--title:hover {
  color: var(--dark-cyan);
}

.job__info--footer {
  display: flex;
  font-size: 13px;
  color: var(--gray-text);
  font-weight: 500;
}

.job__info--time,
.job__info--duration {
  margin-right: 30px;
}

.filters {
  display: flex;
  margin-left: auto;
}

.job__info__filter__item {
  font-size: 12px;
  padding: 8px 8px;
  margin-left: 15px;
  border-radius: 5px;
  background-color: var(--filter-tablet);
  color: var(--dark-cyan);
  cursor: pointer;
}

.job__info__filter__item:hover {
  background-color: var(--dark-cyan);
  color: white;
}

.FiltersBar {
  margin: 0px 160px;
  width: 78vw;
  display: flex;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: -30px;
}

.FilterItem {
  position: relative;
  font-size: 12px;
  padding: 8px 8px;
  margin-left: 55px;
  border-radius: 5px 0px 0px 5px;
  background-color: var(--filter-tablet);
  color: var(--dark-cyan);
}

.FiltersBar__clear {
  margin-left: auto;
  color: var(--dark-cyan);
  cursor: pointer;
  align-self: center;
  font-size: 14px;
}

.FiltersBar__clear:hover {
  text-decoration: underline;
}

.fa-times {
  position: absolute;
  top: 0;
  right: -30px;
  height: 100%;
  width: 30px;
  color: white;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--dark-cyan);
  padding-top: 7px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.fa-times:hover {
  background-color: var(--text-color);
}
